version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: lab4_db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
      args:
        ADMIN_NAME: ${ADMIN_NAME}
        ADMIN_PASSWORD: ${ADMIN_PASSWORD}
    container_name: lab4_backend
    restart: always
    ports:
      - "8080:8080"
      - "9990:9990"
    depends_on:
      - db
    environment:
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}

volumes:
  postgres_data: